In [1]:
import copy
import gzip
import io
import os
from io import StringIO
import pandas as pd
import geopandas as gpd
from tqdm import tqdm
import numpy as np
import pathlib
from pathlib import Path
from shapely import wkt
from datetime import datetime
import xml.etree.ElementTree as ET
import lxml.etree as etree
from xml.dom import minidom
import numpy as np

In [2]:
# read the files
BASE_DIR = Path.cwd().parent # G:\road_ntwrk
shp = BASE_DIR / "road_ntwrk" / "rd_ntwrk_2016.shp"
gpdSFRdNtwrk = gpd.read_file(shp)

In [3]:
gpdSFRdNtwrk=gpdSFRdNtwrk[gpdSFRdNtwrk['MTYPE']=='SF']

In [9]:
gpdSFRdNtwrk=gpdSFRdNtwrk[gpdSFRdNtwrk['FT']!=9]

In [4]:
shp = BASE_DIR / "road_ntwrk" / "2016_PM.shp"
rd_network_2016 = gpd.read_file(shp)

In [5]:
rd_network_2016=rd_network_2016[rd_network_2016['FT'].isin([1,2,3,5,7,10])]

In [6]:
outside_sf_fwy_arterial=rd_network_2016[rd_network_2016['MTYPE']=='MTC']

In [7]:
len(gpdSFRdNtwrk)

26879

In [8]:
len(outside_sf_fwy_arterial)

14899

In [10]:
# read the files
# BASE_DIR = Path.cwd().parent # G:\road_ntwrk
# shp = BASE_DIR / "road_ntwrk" / "rd_ntwrk_2016.shp"

gpdSFRdNtwrk=gpdSFRdNtwrk.to_crs('EPSG:26910')
from shapely.geometry import Point, LineString
gpdSFRdNtwrk['first'] = None
gpdSFRdNtwrk['last'] = None
for index, row in tqdm(gpdSFRdNtwrk.iterrows()):
    coords = [(coords) for coords in list(row['geometry'].coords)]
    first_coord, last_coord = [ coords[i] for i in (0, -1) ]
    gpdSFRdNtwrk.at[index,'first'] = Point(first_coord)
    gpdSFRdNtwrk.at[index,'last'] = Point(last_coord)

gpdSFRdNtwrk["length_m"] = gpdSFRdNtwrk["geometry"].to_crs('EPSG:26910').length  # get length in meters of the feature
#gpdSFRdNtwrk["geometry"] = gpdSFRdNtwrk["geometry"].to_crs('EPSG:4326')  # re-project to EPSG:4326/WGS1984
#gpdSFRdNtwrk["geometry"] = gpdSFRdNtwrk["geometry"].to_crs('EPSG:26910') # re-project to local PCS

# get the max of the lanes
gpdSFRdNtwrk['lane']= gpdSFRdNtwrk[['LANE_AM','LANE_PM','LANE_OP',]].max(axis=1)

from shapely import wkt
gpdSFNode_A = gpdSFRdNtwrk[["first","A"]]
gpdSFNode_A = gpd.GeoDataFrame(gpdSFNode_A, geometry='first')

# gpdSFNode_A.drop_duplicates()
gpdSFNode_B = gpdSFRdNtwrk[["last","B"]]
gpdSFNode_B = gpd.GeoDataFrame(gpdSFNode_B, geometry='last')

G = gpdSFNode_A["first"].apply(lambda geom: geom.wkb) # drop duplicate features
gpdSFNode_A = gpdSFNode_A.loc[G.drop_duplicates().index]

G = gpdSFNode_B["last"].apply(lambda geom: geom.wkb) # drop duplicate features
gpdSFNode_B = gpdSFNode_B.loc[G.drop_duplicates().index]

gpdSFRdNtwrk["segment_id"] = gpdSFRdNtwrk[['A', 'B']].astype(str).agg('_'.join, axis=1)

gpdSFNode_A["X"] = gpdSFNode_A["first"].x
gpdSFNode_A["Y"] = gpdSFNode_A["first"].y

gpdSFNode_B["X"] = gpdSFNode_B["last"].x
gpdSFNode_B["Y"] = gpdSFNode_B["last"].y

26296it [00:03, 8069.69it/s]

In [11]:
# read the files
# BASE_DIR = Path.cwd().parent # G:\road_ntwrk
# shp = BASE_DIR / "road_ntwrk" / "rd_ntwrk_2016.shp"


outside_sf_fwy_arterial=outside_sf_fwy_arterial.to_crs('EPSG:26910')
from shapely.geometry import Point, LineString
outside_sf_fwy_arterial['first'] = None
outside_sf_fwy_arterial['last'] = None
for index, row in tqdm(outside_sf_fwy_arterial.iterrows()):
    coords = [(coords) for coords in list(row['geometry'].coords)]
    first_coord, last_coord = [ coords[i] for i in (0, -1) ]
    outside_sf_fwy_arterial.at[index,'first'] = Point(first_coord)
    outside_sf_fwy_arterial.at[index,'last'] = Point(last_coord)

outside_sf_fwy_arterial["length_m"] = outside_sf_fwy_arterial["geometry"].to_crs('EPSG:26910').length  # get length in meters of the feature
#gpdSFRdNtwrk["geometry"] = gpdSFRdNtwrk["geometry"].to_crs('EPSG:4326')  # re-project to EPSG:4326/WGS1984
#gpdSFRdNtwrk["geometry"] = gpdSFRdNtwrk["geometry"].to_crs('EPSG:26910') # re-project to local PCS

# get the max of the lanes
outside_sf_fwy_arterial['lane']= outside_sf_fwy_arterial[['LANE_AM','LANE_PM','LANE_OP',]].max(axis=1)

from shapely import wkt
outside_sf_fwy_arterial_Node_A = outside_sf_fwy_arterial[["first","A"]]
outside_sf_fwy_arterial_Node_A = gpd.GeoDataFrame(outside_sf_fwy_arterial_Node_A, geometry='first')

# gpdSFNode_A.drop_duplicates()
outside_sf_fwy_arterial_Node_B = outside_sf_fwy_arterial[["last","B"]]
outside_sf_fwy_arterial_Node_B = gpd.GeoDataFrame(outside_sf_fwy_arterial_Node_B, geometry='last')

G = outside_sf_fwy_arterial_Node_A["first"].apply(lambda geom: geom.wkb) # drop duplicate features
outside_sf_fwy_arterial_Node_A = outside_sf_fwy_arterial_Node_A.loc[G.drop_duplicates().index]

G = outside_sf_fwy_arterial_Node_B["last"].apply(lambda geom: geom.wkb) # drop duplicate features
outside_sf_fwy_arterial_Node_B = outside_sf_fwy_arterial_Node_B.loc[G.drop_duplicates().index]

outside_sf_fwy_arterial["segment_id"] = outside_sf_fwy_arterial[['A', 'B']].astype(str).agg('_'.join, axis=1)

outside_sf_fwy_arterial_Node_A["X"] = outside_sf_fwy_arterial_Node_A["first"].x
outside_sf_fwy_arterial_Node_A["Y"] = outside_sf_fwy_arterial_Node_A["first"].y

outside_sf_fwy_arterial_Node_B["X"] = outside_sf_fwy_arterial_Node_B["last"].x
outside_sf_fwy_arterial_Node_B["Y"] = outside_sf_fwy_arterial_Node_B["last"].y

14899it [00:02, 7441.06it/s]

In [12]:
outside_sf_fwy_arterial['FT']=np.where(outside_sf_fwy_arterial['FT']==7,
                                      25,
                                      outside_sf_fwy_arterial['FT'])

In [13]:
SF_shell_network=gpdSFRdNtwrk.append(outside_sf_fwy_arterial)
len(SF_shell_network)

41195

In [14]:
def ffs(df):
    if df.FT==1:
        return df.SPEED/1.3
    elif df.FT==2:
        return df.SPEED/1.0
    elif df.FT==3:
        return df.SPEED/1.0
    elif df.FT==4:
        return df.SPEED/1.8
    elif df.FT==5:
        return df.SPEED/1.3
    elif df.FT==6:
        return df.SPEED/1.0
    elif df.FT==7:
        return df.SPEED/1.8
    elif df.FT==8:
        return df.SPEED/1.3
    elif df.FT==9:
        return df.SPEED/1.8
    elif df.FT==10:
        return df.SPEED/1.0
    elif df.FT==11:
        return df.SPEED/1.8
    elif df.FT==12:
        return df.SPEED/1.8
    elif df.FT==13:
        return df.SPEED/1.0
    elif df.FT==14:
        return df.SPEED/1.8
    else:
        return df.SPEED/1.8

In [15]:

SF_shell_network['FFS']=SF_shell_network.apply(ffs,axis=1)
SF_shell_network.head()

,A,B,TOLL,USE,CAP,AT,FT,STREETNAME,TYPE,MTYPE,...,V17T_1,V18T_1,V19T_1,geometry,first,last,length_m,lane,segment_id,FFS
1,6956,40029,0,1,1900,3,2,HWY 101 NORTHBOUND,None,SF,...,0,0,0,"LINESTRING (553350.000 4173346.000, 553320.939...",POINT (553349.9998151767 4173345.99985298),POINT (553320.9392015886 4173588.026848777),243.765432,4,6956_40029,60.000000
5,6985,52492,0,1,700,3,4,ALANA,WY,SF,...,0,0,0,"LINESTRING (553233.881 4173488.425, 553212.903...",POINT (553233.8811223421 4173488.425002129),POINT (553212.9026749724 4173654.024205313),166.922711,1,6985_52492,16.666667
7,6986,50856,0,1,700,3,4,TUNNEL,AVE,SF,...,0,0,0,"LINESTRING (552787.180 4173442.741, 552770.941...",POINT (552787.1804085139 4173442.741105828),POINT (552770.9408277512 4173628.436435152),186.404075,1,6986_50856,16.666667
16,7678,51171,0,1,1450,3,3,SKYLINE,BLVD,SF,...,0,0,0,"LINESTRING (544554.000 4172455.000, 544230.238...",POINT (544553.9998171227 4172454.999854094),POINT (544230.2376741003 4173547.972607859),1139.917263,2,7678_51171,60.000000
17,7702,52234,0,1,1400,2,5,I-280 S ON-RAMP,None,SF,...,0,0,0,"LINESTRING (546770.000 4173201.000, 546735.344...",POINT (546769.9998163021 4173200.999854235),POINT (546735.3437780952 4173441.028341393),242.517454,1,7702_52234,23.076923

In [16]:
gpdSFRdNtwrk=gpdSFRdNtwrk.reset_index()
gpdSFRdNtwrk['LINK_ID']=gpdSFRdNtwrk.index+1
gpdSFRdNtwrk.drop(columns=['index'],inplace=True)

In [17]:
SF_shell_network=SF_shell_network.reset_index()
SF_shell_network['LINK_ID']=SF_shell_network.index+1
SF_shell_network.drop(columns=['index'],inplace=True)

In [18]:
SF_shell_network=SF_shell_network[SF_shell_network['FT']!=0]

In [19]:
SF_shell_network.FT.value_counts()

11    16912
25     9161
4      4185
2      2733
7      2188
5      2165
12     2046
3       913
15      478
1       214
13      200
Name: FT, dtype: int64

In [20]:
node_A=gpdSFNode_A.append(outside_sf_fwy_arterial_Node_A)
node_A=node_A.reset_index()
node_B=gpdSFNode_B.append(outside_sf_fwy_arterial_Node_B)
node_B=node_B.reset_index()

In [21]:
node_A.drop(columns=['index'],inplace=True)
node_B.drop(columns=['index'],inplace=True)
node_A.head()

                            first     A              X             Y
0  POINT (553350.000 4173346.000)  6956  553349.999815  4.173346e+06
1  POINT (553233.881 4173488.425)  6985  553233.881122  4.173488e+06
2  POINT (552787.180 4173442.741)  6986  552787.180409  4.173443e+06
3  POINT (544554.000 4172455.000)  7678  544553.999817  4.172455e+06
4  POINT (546770.000 4173201.000)  7702  546769.999816  4.173201e+06

In [18]:
node_A=node_A.drop_duplicates()
node_B=node_B.drop_duplicates()

                            first     A              X             Y
0  POINT (553350.000 4173346.000)  6956  553349.999815  4.173346e+06

In [19]:
pd.options.display.max_columns=120

In [22]:
SF_shell_network=SF_shell_network.drop_duplicates(['A','B'])

In [23]:
colmns = ["LINK_ID","A","B",'FT',"length_m","FFS","CAP","lane","oneway",'MTYPE']

added_nodes = []
added_links = []
root = ET.Element("network")
nodes = ET.SubElement(root, "nodes")
links = ET.SubElement(root, "links", {"capperiod": "01:00:00", "effectivecellsize": "7.5", "effectivelanewidth": "3.75"})
i = 0
for index, row in tqdm(SF_shell_network.iterrows()):  # iterate over the rows of the road network
    # attrib = {id:link_id, from:from_node_id, to:to_node_id, length:length_m, freespeed:free_speed,
    #               capacity:capacity, permlanes:lanes, oneway:oneWay, modes:"modes"}
    # <link from="4531878" freespeed="11.18" permlanes="1.0" id="7000227" length="21.03"
    #       oneway="1.0" modes="bike, car, walk" capacity="600.0"/>
    link_dict = {}
    #modes = []
    for col in colmns:
        if col == "LINK_ID":
            val = row.loc[col]
            link_dict["id"] = str(val)
        elif col == "A":
            val = row.loc[col]
            link_dict["from"] = str(val)
            _df = node_A.loc[node_A["A"] == val].reset_index()
            if _df.at[0,"A"] not in added_nodes:
                ET.SubElement(nodes, "node", {"id": str(round(_df.at[0,"A"],5)),
                                              "x": str(round(_df.at[0,"X"],5)),
                                              "y": str(round(_df.at[0,"Y"],5))})
                added_nodes.append(_df.at[0,"A"])
#                 print(added_nodes)
        elif col =="B":
            val = row.loc[col]
            link_dict["to"] = str(val)
            _df = node_B.loc[node_B["B"] == val].reset_index()
            if _df.at[0,"B"] not in added_nodes:
                ET.SubElement(nodes, "node", {"id": str(round(_df.at[0,"B"],5)),
                                              "x": str(round(_df.at[0,"X"],5)),
                                              "y": str(round(_df.at[0,"Y"],5))})
                added_nodes.append(_df.at[0,"B"])
#                 print(added_nodes)
        elif col =="length_m":
            val = row.loc[col]
            link_dict["length"] = str(round(val,2))
        elif col =="FFS":
            val = row.loc[col]
            link_dict["freespeed"] = str(round(val*0.447,2))
        elif col =="CAP":
            l = row.loc["lane"]
            c = row.loc["CAP"]
            link_dict["capacity"] = str(round((l*c),2))
        elif col =="lane":
            val = row.loc[col]
            link_dict["permlanes"] = str(round(val,1))
        elif col=='FT':
            ft=row.loc[col]
            
            if ft==1:
                link_dict["type"] = str('fwy_fwy_cnctr')
                link_dict["modes"] = str('car')
            elif ft==2:
                link_dict["type"] = str('freeway')
                link_dict["modes"] = str('car')
            elif ft==3:
                link_dict["type"] = str('expressway')
                link_dict["modes"] = str('car')
            elif ft==4:
                link_dict["type"] = str('collector')
                link_dict["modes"] = str('car,bus,walk,bike')
            elif ft==5:
                link_dict["type"] = str('ramp')
                link_dict["modes"] = str('car')
#             elif ft==6:
#                 link_dict["type"] = str('centroid_cnctr')
#                 link_dict["modes"] = str('car')
            elif ft==7:
                link_dict["type"] = str('maj_arterial')
                link_dict["modes"] = str('car,bus,walk,bike')
#             elif ft==8:
#                 link_dict["type"] = str('not_used')
#             elif ft==9:
#                 link_dict["type"] = str('alley')
#                 link_dict["modes"] = str('car,bike,walk')
            elif ft==10:
                link_dict["type"] = str('metered_ramp')
                link_dict["modes"] = str('car')
            elif ft==11:
                link_dict["type"] = str('local')
                link_dict["modes"] = str('car,bus,walk,bike')
            elif ft==12:
                link_dict["type"] = str('minor_arterial')
                link_dict["modes"] = str('car,bus,walk,bike')
            elif ft==13:
                link_dict["type"] = str('bike_only')
                link_dict["modes"] = str('bike')
#             elif ft==14:
#                 link_dict["type"] = str('not_used')
            elif ft==16:
                link_dict["type"] = str('test')
                link_dict["modes"] = str('car')
            elif ft==25: #custom ftype for arterials outside SF city limits
                link_dict["type"] = str('maj_arterial')
                link_dict["modes"] = str('car')
            else:
                link_dict["type"] = str('super_arterial')
                link_dict["modes"] = str('car,bus,walk,bike')
                
        else:
            link_dict["oneway"] = str(1)
            #link_dict["modes"] = str('car,bus,walk')
    if link_dict["id"] not in added_links:
        added_links.append(link_dict["id"])
#         print(link_dict)
        ET.SubElement(links, "link", attrib=link_dict)

41195it [02:30, 273.88it/s]

In [24]:
def exportXML(root):
    # Let's try using LXML
    bVal=False
    tree = etree.fromstring(ET.tostring(root))
    xmlstr = etree.tostring(tree, encoding="UTF-8",
                            xml_declaration=True,
                            pretty_print=True,
                            doctype='<!DOCTYPE network SYSTEM "http://www.matsim.org/files/dtd/network_v2.dtd">')
    outfilename = BASE_DIR/'SF_network_from_SFCHAMP.xml.gz'
    with gzip.open(outfilename, 'wb') as f:
        f.write(xmlstr)
        bVal = True
    return bVal

if exportXML(root):
    print("Succesfully created")

Succesfully created

In [7]:
gpdSFRdNtwrk.info(verbose=True)

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 26908 entries, 0 to 26999
Data columns (total 117 columns):
 #    Column      Dtype
---   ------      -----
 0    A           int64
 1    B           int64
 2    TOLL        int64
 3    USE         int64
 4    CAP         int64
 5    AT          int64
 6    FT          int64
 7    STREETNAME  object
 8    TYPE        object
 9    MTYPE       object
 10   SPEED       int64
 11   DISTANCE    float64
 12   TIME        float64
 13   LANE_AM     int64
 14   LANE_OP     int64
 15   LANE_PM     int64
 16   BUSLANE_AM  int64
 17   BUSLANE_OP  int64
 18   BUSLANE_PM  int64
 19   TOLLAM_DA   float64
 20   TOLLAM_SR2  float64
 21   TOLLAM_SR3  float64
 22   TOLLPM_DA   float64
 23   TOLLPM_SR2  float64
 24   TOLLPM_SR3  float64
 25   TOLLEA_DA   float64
 26   TOLLEA_SR2  float64
 27   TOLLEA_SR3  float64
 28   TOLLMD_DA   float64
 29   TOLLMD_SR2  float64
 30   TOLLMD_SR3  float64
 31   TOLLEV_DA   float64
 32   TOLLEV_SR2  float64
 33   TOLLEV_SR3  float64
 34   VALUETOLL_  int64
 35   PASSTHRU    int64
 36   BUSTPS_AM   int64
 37   BUSTPS_OP   int64
 38   BUSTPS_PM   int64
 39   TSVA        float64
 40   TSIN        object
 41   BIKE_CLASS  int64
 42   PER_RISE    float64
 43   ONEWAY      int64
 44   PROJ        object
 45   DTA_EDIT_F  int64
 46   TOLLTIME    float64
 47   PHASE       int64
 48   ACTION      object
 49   AMBUSSAVE   int64
 50   MDBUSSAVE   int64
 51   PMBUSSAVE   int64
 52   EVBUSSAVE   int64
 53   EABUSSAVE   int64
 54   SPDC        int64
 55   CAPC        int64
 56   AB          object
 57   BUSVOL_AM   float64
 58   BUSVOL_MD   float64
 59   BUSVOL_PM   float64
 60   BUSVOL_EV   float64
 61   BUSVOL_EA   float64
 62   TIMESEED    float64
 63   OOS         float64
 64   PUDO        float64
 65   V_1         float64
 66   TIME_1      float64
 67   VC_1        float64
 68   CSPD_1      float64
 69   VDT_1       float64
 70   VHT_1       float64
 71   V1_1        float64
 72   V2_1        float64
 73   V3_1        float64
 74   V4_1        int64
 75   V5_1        int64
 76   V6_1        int64
 77   V7_1        int64
 78   V8_1        int64
 79   V9_1        int64
 80   V10_1       float64
 81   V11_1       int64
 82   V12_1       int64
 83   V13_1       float64
 84   V14_1       int64
 85   V15_1       int64
 86   V16_1       int64
 87   V17_1       int64
 88   V18_1       int64
 89   V19_1       int64
 90   VT_1        float64
 91   V1T_1       float64
 92   V2T_1       float64
 93   V3T_1       float64
 94   V4T_1       int64
 95   V5T_1       int64
 96   V6T_1       int64
 97   V7T_1       int64
 98   V8T_1       int64
 99   V9T_1       int64
 100  V10T_1      float64
 101  V11T_1      int64
 102  V12T_1      int64
 103  V13T_1      float64
 104  V14T_1      int64
 105  V15T_1      int64
 106  V16T_1      int64
 107  V17T_1      int64
 108  V18T_1      int64
 109  V19T_1      int64
 110  geometry    geometry
 111  first       object
 112  last        object
 113  length_m    float64
 114  lane        int64
 115  segment_id  object
 116  LINK_ID     int64
dtypes: float64(46), geometry(1), int64(60), object(10)
memory usage: 24.2+ MB