In [1]:
import pandas as pd
import numpy as np

In [2]:
taz=pd.read_csv('taz-centers-updated.csv')
parking=pd.read_csv('sf-taz-parking-nochargers.csv')

In [3]:
taz.head()

      taz      coord-x      coord-y          area
0  101157  544532.7731  4179499.181  153481.98460
1  100831  552235.2007  4179674.298   94747.03173
2  100692  550357.9398  4179739.544   70161.82309
3  201542  550204.5620  4165888.847  523975.64990
4  201552  547910.6868  4166055.942  314182.33330

In [4]:
parking.head()

,taz,parkingType,pricingModel,chargingType,numStalls,feeInCents,ReservedFor
0,101157,Residential,Block,NoCharger,412,0.0,Any
1,100831,Residential,Block,NoCharger,139,0.0,Any
2,100831,Workplace,Block,NoCharger,17,0.0,Any
3,100692,Residential,Block,NoCharger,256,0.0,Any
4,100692,Workplace,Block,NoCharger,106,0.0,Any

In [6]:
test=pd.merge(taz,parking,on=['taz'],how='outer',indicator=True)
test[test['_merge']!='both']

Empty DataFrame
Columns: [taz, coord-x, coord-y, area, parkingType, pricingModel, chargingType, numStalls, feeInCents, ReservedFor, _merge]
Index: []

In [9]:
parking=parking.rename(columns={'chargingType':'chargingPointType',
                                'ReservedFor':'reservedFor'}
                      )
parking.columns

Index(['taz', 'parkingType', 'pricingModel', 'chargingPointType', 'numStalls',
       'feeInCents', 'reservedFor'],
      dtype='object')

In [10]:
parking.to_csv('sf-taz-parking-nochargers-updated.csv',index=False)

In [ ]:
  "taz",
    "parkingType",
    "pricingModel",
    "chargingPointType",
    "numStalls",
    "feeInCents",
    "reservedFor",
    "timeRestrictions",
    "parkingZoneId"