In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('vehicles.csv.gz')
df.head()

    vehicle_id vehicleTypeId
0   auto-100-0           Car
1   auto-100-1           Car
2   auto-100-2           Car
3  auto-1000-0           Car
4  auto-1000-1           Car

In [4]:
df=df.rename(columns={'vehicle_id':'vehicleId'})
df.head()

     vehicleId vehicleTypeId
0   auto-100-0           Car
1   auto-100-1           Car
2   auto-100-2           Car
3  auto-1000-0           Car
4  auto-1000-1           Car

In [5]:
df.to_csv('vehicles.csv.gz',index=False,compression='gzip')